* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 400px;
  padding: 15px;
}

.display {
  height: 50px;
  width: 100px;
  border: 1px solid salmon;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startButton {
  height: 50px;
  width: 100px;
  border: 1px solid salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid salmon;
  width: 600px;
  height: 600px;
}

.cell {
  width: 16.66%;
  height: 16.67%;
  border: 1px solid rgb(118, 250, 114);
}

.candy1 {
  background-image: url("https://static.turbosquid.com/Preview/2016/09/03__06_35_10/Banana_Signature_Square.jpgB006473A-55C8-4176-A65E-BAA3A88E6133Res200.jpg");
  background-size: contain;
}

.candy2 {
  background-image: url("https://webstockreview.net/images/apple-clipart-clear-background-1.png");
  background-size: contain;
}

.candy3 {
  background-image: url("https://www.morningbag.com/api/public/product/567/1583234452849.png");
  background-size: contain;
}
